<main class="login-page">
    <form-container>
        <ng-container>
            <form [formGroup]="form.form">
                <form-control>
                    <input class="form-control" type="text" placeholder="Email" name="email" formControlName="email">
                </form-control>
                <form-control>
                    <input class="form-control" type="password" autocomplete="off" placeholder="Пароль" name="password" formControlName="password">
                </form-control>
                <form-control>
                    <button class="btn btn-secondary"  (click)="submitLogin()">Войти</button>
                </form-control>
            </form>

            <footer class="login-footer">
                <a [routerLink]="signUpUrl">Нет аккаунта? Регистрируйтесь!</a>
            </footer>
        </ng-container>
    </form-container>
</main>