<header class="app-header navbar navbar-expand-sm bg-primary">

    <div class="logo-container header-item ">
        <img class="img" src="../../assets/img/logo_white.png" alt="">
    </div>

    <!--<div class="sidebar-toggle-container header-item ">
        <img class="img"  src="../../assets/img/menu-button.svg" alt="">
    </div>-->

    <nav class="collapse navbar-collapse navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link">ТЕСТЫ ТЕСТЫ ТЕСТЫ</a>
            </li>
        </ul>
    </nav>

    <div class="navbar navbar-dark">

        <div class="notifications-container">
            <div class="notifications-toggle">
                <div class="notification-bell-image-container">
                    <img class="notification-bell-image" src="../../assets/img/notifications-bell-button.svg" alt="">
                    <span class="notifications-count">5</span>
                </div>
            </div>
        </div>

        <div class="user-pic-container">
            <img class="img" src="../../assets/img/vova.jpg" alt="Profile picture">
        </div>

    </div>

</header>